@import '../../index.scss';

.header{
    width: 100%;
    height: 70px;
    background: $primary-color;

    display: flex;
    align-items: center;
    gap: 10px;

    .header__text{
        font-size: 30px;
        color: $panel-text-color;
        margin-left: $panel-margin;
        text-decoration: none;
    }
}